<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @post.permalink %>
</p>

<p>
  <strong>Content:</strong>
  <%#=raw RedCloth.new(Liquid::Template.parse(@post.content).render('post' => @post)).to_html %>
  <%= markdown(@post.content, 'post' => @post) %>
</p>

<!-- let try parsing liquid -->
